body {
    font-family: "Roboto", sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1400px;
    margin: auto;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    background: #0078ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005fcc;
}

#loading {
    color: blue;
    margin-top: 10px;
}

#error {
    color: red;
    margin-top: 10px;
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    max-width: 1400px;
    margin: 20px auto;
}

/* Map gets 2/3 of the space */
#map {
    flex: 2;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
}

/* Results get 1/3 of the space */
#results {
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#results ul {
    list-style: none;
    padding: 0;
}

#results li {
    background: #fafafa;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-left: 4px solid #4caf50;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

label {
    font-weight: 500;
}