body {
    font-family: "Roboto", sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    background: #0078ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005fcc;
}

#loading {
    color: blue;
    margin-top: 10px;
}

#error {
    color: red;
    margin-top: 10px;
}

#results {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#results ul {
    list-style: none;
    padding: 0;
}

#results li {
    background: #fafafa;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-left: 4px solid #4caf50;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

.layout {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    height: calc(100vh - 200px);
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}


label {
    font-weight: 500;
}